.best{
    background: url(../img/bg-best.png) center center / cover no-repeat;
    position: relative;
}
.best__container {
  position: absolute;
  left: 6%;
  top: 25%;

}


.best__list {
    margin-top: 50px;
    padding: 0 0;
    display: flex;
    justify-content: space-around;

}

.best__title {
    margin-top: 35px;
    font-size: 24px;
  font-family: "Lifehack";
  color:#2f3234;
  line-height: 1.167;
}

.best__item {
    padding: 5px 2px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.best__desc {
   
    text-align: center;
}

.best__desk-text {
    font-size: 14px;
  font-family: "Ubuntu";
  color: #838180;
  line-height: 1.714;
}